@charset "utf-8";

/*
   
   Filename: code5-1_media.css
   Author: Siegmund Chidiebere Obi ID: 000519356
   Date: 04/10/2023
   Purpose: Tutorial 5 The Ridgewood Herald Tribune

*/

@media screen and (max-width: 500px){
   article img{
      display: none;
   }
   ul.submenu{
      text-align: center;
   }
}
@media screen and (min-width: 501px){
   nav{
      float:left;
      width: 130px;
      height: 400px;
      margin : 30px 25px 0px 0px;
   }
}
@media screen and (min-width: 710px){
   nav{
      float: none;
      width: 100%;
      height: auto;
      margin: 0;
   }
   ul.mainmenu{
      display: flex;
      flex-flow: row;
      flex-wrap: none;
      justify-content: center;
   }
   ul.mainmenu li{
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: 120px;
   }
}